




*, *:before, *:after {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

body {
 font-family: 'Open Sans', Helvetica, Arial, sans-serif;
 background: #ededed;
 background-image: url("https://res.cloudinary.com/akofe/image/upload/v1568846108/spark2_kjcaz1.png");
 background-size: cover;
}

h2 {
  font-size: 26px;
}

p {
  font-size: 14px;
  line-height: 1.5;
}

.header {
  text-align: center;
  overflow: hidden;
  position: relative;

  height: 200px;
}

.header .team-name {
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 14px;
  /* font-size: 24px; */
  color: white;
  z-index: 100;
}

.header:before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 1000px;
  height: 100%;
  background-image: url("src/animate.png");
  background-size: cover;
  transition: -webkit-transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
  opacity: 0.4;
}


.header:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(28, 160, 125, 0.85);
}


.header .info {
  /* padding: 100px 0; */
  z-index: 2; 
  color: #fff;
  transition: -webkit-transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;

  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
}

.header h2 {
  margin-bottom: 10px;
}

.header .btn-container {
  overflow: hidden;
  z-index: 2;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  width: 168px;
  height: 50px;
  margin: 0 auto;
  background: transparent;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  cursor: pointer;
}

.header .btn-container:after {
  content: '';
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  border-radius: 30px;
}

.btn-container span {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: -webkit-transform 1.2s;
  transition: transform 1.2s;
  transition: transform 1.2s, -webkit-transform 1.2s;
}

/* Determines which button is shown at the moment */
.btn-container span.m--in {
  -webkit-transform: translateY(-72px);
          transform: translateY(-72px);
}

.cont.s--signup .btn-container span.m--in {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.cont.s--signup .btn-container span.m--up {
  -webkit-transform: translateY(72px);
          transform: translateY(72px);
}

/* Determines which info (Login/Signin) is shown */
.cont.s--signup .info.m--in {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.cont.s--signup .info.m--up {
  -webkit-transform: translateY(200px);
          transform: translateY(200px);
}

.info.m--in {
  -webkit-transform: translateY(-200px);
          transform: translateY(-200px);
}


form {
  display: block;
  width: 90%;
  max-width: 400px;
  margin: 60px auto;
  text-align: center;
}

form span {
  font-size: 12px;
  color: #cfcfcf;
  text-transform: uppercase;
}


input, button {
  border: none;
  outline: none;
  background: none;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

input {
  display: block;
  width: 100%;
  margin-top: 11px;
  padding-bottom: 11.5px;
  padding-top: 11.5px;
  font-size: 16px;
  border-bottom: 1px solid #F4F8F7;
  text-align: 0;
  background-color: #F4F8F7;
  border-radius: 30px;
  border: 1px solid #e2e2e2;
}


.awesomeholder input[type=text]{
  padding-left: 40px;
}

.awesomeholder input[type=email]{
  padding-left: 40px;
}

.awesomeholder input[type=password]{
  padding-left: 36px;
}


.awesomeholder {
  position: relative;
}

.awesomeholder i{
  position: absolute;
  left: 10px;
  top: 6px;
  padding: 9px 0;
  color: #808080
}

button {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  border-radius: 30px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

/* Display Log In or Sign Up */
.cont {
  overflow: hidden;
  position: relative;
  background: #fff;
  border-radius: 10px;
}

.sign-up {
  display: none;
}

.cont.s--signup .sign-up{
  display: block;
}

.cont.s--signup .sign-in {
  display: none;
}

.submit {
  margin-top: 16px;
  margin-bottom: 20px;
  background: #4DB8A9;
  text-transform: uppercase;
}





#create-account, #login-header {
  color: #4DB8A9;
  font-size: 36px;
  margin-bottom: 57px;
}

@media screen and (min-width: 1000px) {
  .header .team-name {
    font-size: 24px;
  }

  
  .tip {
    color: #A9A9A9;
    font-size: 15px;
    margin-left: 38px;
    margin-top: 20px;
    white-space: nowrap;
  }

  @font-face {
    font-family: "FontAwesome";
    font-weight: lighter;
      font-display: auto;
    font-style: normal;
    src: url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2") format("woff2");
  }


  .cont {
    width: 900px;
    height: 550px;
    margin: 60px auto 100px;
  }

  .sub-cont {
    overflow: hidden;
    position: absolute;
    z-index: 10;
    left: 640px;
    top: 0;
    width: 900px;
    height: 100%;
    padding-left: 260px;
    background: #fff;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
  }

  /* Normalize the Sign Up and Sign In Display  */
  
  .sign-up, .cont.s--signup .sign-up, .cont.s--signup .sign-in {
    display: block;
  }

  .cont.s--signup .sub-cont {
    -webkit-transform: translate3d(-640px, 0, 0);
            transform: translate3d(-640px, 0, 0);
  }
  
  
  .header {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 260px;
    height: 100%;
    padding-top: 360px;
  }
  
  .cont.s--signup .header:before {
    -webkit-transform: translate3d(640px, 0, 0);
            transform: translate3d(640px, 0, 0);
  }

  .header .info {
    top: 200px;
    width: 100%;
    padding: 0 20px;
  }

    
  .cont.s--signup .info.m--up {
    -webkit-transform: translateX(520px);
            transform: translateX(520px);
  }

  .info.m--in {
    -webkit-transform: translateX(-520px);
            transform: translateX(-520px);
  }

  
  .header .btn-container {
    position: relative;
    bottom: 0;
  }

  form {   
    width: 260px;
    margin: 120px 0 0 20%;
  }

    
  .sign-up.label {
    margin-top: 60px;
  }

  input {
    width: 120%;
  }

  
  .sign-in {
    transition-timing-function: ease-out;
  }
  .cont.s--signup .sign-in {
    transition-timing-function: ease-in-out;
    transition-duration: 1.2s;
    -webkit-transform: translate3d(640px, 0, 0);
            transform: translate3d(640px, 0, 0);
  }
    
  .sign-
  .cont.s--signup .sign-up {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  } 

    
  #create-account, #login-header {
    margin-left: 31px;
    width: 100%;
  }

  .submit {
    margin-left: 60px;
  }
}